:root {
    --primary-100:#ED8D8D;
    --primary-200:#CFB997;
    --primary-300:#fdf6fd;
    --accent-100:#6f8aa1;
    --accent-200:#9eb2c2;
    --text-100:#EEEEEE;
    --text-200:#FDEBED;
    --bg-100:#393232;
    --bg-200:#8D6262;
    --bg-300:#4D4545;
      
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    background-color: var(--bg-100);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
}
.header{
    width: 100%;
    height: 70px;
    background-color: var(--bg-300);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.form{
    
}

.form__input{
    padding: 14px 5px;
    width: 330px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 17px;
    background-color: var(--bg-100);
    color: var(--text-100);
}
.come-back,.full-screen{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: var(--primary-100);
    color: var(--text-200);
    border-radius: 5px;
    cursor: pointer;
}
.movies-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 15px;
    padding: 15px;
}
.movie__item{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.movie__poster{
    width: 100%;
    height: 100%;

}
.app__btn-more{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--primary-100);
}
/* Modal */

.modal{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-100);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: translateY(100%);
    display: flex;   
}
.modal__image{
}
.image__poster{
    height: 100%;
}
/* info */
.info{
    width: 100%;
    padding: 15px;
    overflow-y: scroll;
}
.info__title{
    color: var(--text-100);
    text-align: center;
}

.info__paragraph{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.movies__container{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}
.videos__item{
    padding: 10px;
    background-color: var(--bg-300);
}
.videos__poster{
    display: block;
    width: 300px;
}
/* modal-video */
.movies__modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-100);
    transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: translateY(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.modal__iframe{
    width: 700px;
  height: 393px;
    border: none;
}
.movies__modal-active{
    transform: translateY(0%);
    opacity: 1;
    visibility:visible;
}
.modal-active{
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}